<h2>Leave a post</h2>
<%= simple_form_for @post do |f|%>
  <%= f.input :content, label: false %>
  <%= f.submit class: 'btn-primary' %>
<% end %>

<h2>Posts from <%= current_user.profile.name %>'s friends</h2>

<% @posts.each do |post| %>
  <%= cl_image_tag(post.profile.photos.first.key,
  width: 30, height: 30, crop: :fill, class: 'rounded-circle')%>
  <p><%= link_to post.profile.name, profile_path(post.profile) %></p>
  <p><%= post.content %></p>
  <ul>
    <% Post.find(post.id).comments.each do |comment| %>
      <li><%= cl_image_tag(comment.profile.photos.first.key,
      width: 30, height: 30, crop: :fill, class: 'rounded-circle')%>
      <p><%= link_to comment.profile.name, profile_path(comment.profile) %></p>
      <p><%= comment.content %></p></li>
    <% end %>
    <li>
      <%= simple_form_for [post, @comment] do |f| %>
        <%= f.text_field :content, label: false, placeholder: 'leave a comment:'%>
        <%= f.submit class: 'd-none'%>
      <% end %>
    </li>
  </ul>
<% end %>
